@charset "UTF-8";
/* CSS Document */

body
{
	margin:0px;
	font-size:12px;	
	color:#666;
	font-family: 'Open Sans', sans-serif;
}

#wrap_all
{
	min-width:960px;	
}

header
{
	width:100%;
	height:80px;
	/*background-color:RGBA(255,255,255,0.6);*/	
	color:white;
	
	-webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.1);
	-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.1);
	box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.1);
	
	/*-webkit-box-shadow: 0px 5px 5px 0px rgba(125, 50, 109, 0.1);
	-moz-box-shadow:    0px 5px 5px 0px rgba(125, 50, 109, 0.1);
	box-shadow:         0px 5px 5px 0px rgba(125, 50, 109, 0.1);*/
	
	background: rgba(143,63,153,1);
	background: -moz-linear-gradient(left, rgba(143,63,153,1) 0%, rgba(175,97,159,1) 26%, rgba(183,79,140,1) 62%, rgba(135,55,139,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(143,63,153,1)), color-stop(26%, rgba(175,97,159,1)), color-stop(62%, rgba(183,79,140,1)), color-stop(100%, rgba(135,55,139,1)));
	background: -webkit-linear-gradient(left, rgba(143,63,153,1) 0%, rgba(175,97,159,1) 26%, rgba(183,79,140,1) 62%, rgba(135,55,139,1) 100%);
	background: -o-linear-gradient(left, rgba(143,63,153,1) 0%, rgba(175,97,159,1) 26%, rgba(183,79,140,1) 62%, rgba(135,55,139,1) 100%);
	background: -ms-linear-gradient(left, rgba(143,63,153,1) 0%, rgba(175,97,159,1) 26%, rgba(183,79,140,1) 62%, rgba(135,55,139,1) 100%);
	background: linear-gradient(to right, rgba(143,63,153,1) 0%, rgba(175,97,159,1) 26%, rgba(183,79,140,1) 62%, rgba(135,55,139,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f3f99', endColorstr='#87378b', GradientType=1 );
}

header img
{
	width:40px;
	height:auto;	
	margin-top:5px;
}

#header_filtro
{
	float:left;	
	width:450px;
	padding-top:16px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

#wrap_find
{
	width:100%;
	height:180px;
	/*border-radius:10px;*/
	/*background-color:RGBA(77,0,115,0.1);*/
	/*color:white;
	padding:0px 26px;*/
	position:relative;
	/*top:80px;
	left:20px;*/	
	/*border-bottom:2px solid gray;*/
}

#wrap_zonas
{
	width:28%;
	height:180px;
	border-right:1px solid #EFEFEF;
	float:left;
	margin-right:2%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:20px;
}

#wrap_zonas_lista
{	
	overflow:scroll;
	height:130px;
}

#wrap_zonas ul
{
	list-style:none;
	padding:0px;	
}

#wrap_zonas ul li
{
	border-bottom:1px solid #EFEFEF;	
	padding:4px;
}

#wrap_tabs
{
	width:70%;
	float:left;
	padding-right:20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

#logo
{
	float:left;
}

#title_wrap
{
	color:#FFF;
	/*text-shadow: 0px 1px 2px rgba(150, 150, 150, 1);*/
	width:500px;
	height:80px;
	padding:10px 20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	/*border-radius:5px;*/
	float:left;
}

#title_wrap img
{
	margin-right:20px;	
}


.margin_right_10px
{
	margin-right:10px;	
}

input[type=text], select
{
	border-radius:5px;
	height:26px;
	border:1px solid #CCC;
	background-color:white;
}

input[type=button], input[type=submit]
{
	border-radius:5px;
	height:28px;
	border:1px solid gray;
	padding-left:10px;
	padding-right:10px;
	background-color:white;
	color:#4D0073;
	cursor:pointer;
}

.width_200px
{
	width:200px;
}

a
{
	text-decoration:none;
	color:inherit;
}

.tab_item
{
	padding:4px 5px 2px 5px;
	height:20px;
	border-top:1px solid #999;	
	border-left:1px solid #999;
	border-right:1px solid #999;
	font-family:Verdana, Geneva, sans-serif;
	background-color:white;
	border-radius:5px 5px 0px 0px;
}

.tab_item_selected
{
	padding:4px 5px 2px 5px;
	height:20px;
	border-top:1px solid gray;	
	border-left:1px solid gray;
	border-right:1px solid gray;
	/*font-weight:bold;*/
	font-family:Verdana, Geneva, sans-serif;
	border-radius:5px 5px 0px 0px;
}

.tab_content
{
	border:1px solid #999;
	color:#666;
	padding:10px;
	font-family:Verdana, Geneva, sans-serif;
	background-color:white !important;
	border-radius:0px 0px 5px 5px;
}

h1
{
	font-weight:100;
}

h3
{
	font-weight:100;
	margin-top:0px;
}

/************FORM*****************/

.field_100
{
	width:100%;
}

.field_49
{
	width:49%;
	float:left;
}

.field_2
{
	width:2%;
	float:left;
	min-height:10px;
}

.float_left
{
	float:left;	
}

.clear
{
	clear:both;	
}
