@charset "UTF-8";
/* CSS Document */

body
{
	margin:0px;
	font-size:12px;	
	color:#666;
}

#wrap_find
{
	width:468px;
	height:auto;
	border-radius:10px;
	background-color:RGBA(77,0,115,0.1);
	/*color:white;*/
	padding:6px;
	position:absolute;
	top:20px;
	left:20px;
	font-family: 'Open Sans', sans-serif;
}

#logo
{
	float:left;
}

.clear
{
	clear:both;	
}

#title_wrap
{
	color:#939393;
	/*text-shadow: 0px 1px 2px rgba(150, 150, 150, 1);*/
	background-color:RGBA(255,255,255,0.9);
	height:80px;
	padding:10px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	border-radius:5px;
}

#title_wrap img
{
	margin-right:20px;	
}

.margin_right_10px
{
	margin-right:10px;	
}

input[type=text], select
{
	border-radius:5px;
	height:26px;
	border:1px solid #CCC;
	background-color:white;
}

input[type=button], input[type=submit]
{
	border-radius:5px;
	height:28px;
	border:1px solid gray;
	padding-left:10px;
	padding-right:10px;
	background-color:white;
	color:#4D0073;
	cursor:pointer;
}

.width_200px
{
	width:200px;
}

a
{
	text-decoration:none;
	color:inherit;
}

.tab_item
{
	padding:4px 5px 2px 5px;
	height:20px;
	border-top:1px solid #999;	
	border-left:1px solid #999;
	border-right:1px solid #999;
	font-family:Verdana, Geneva, sans-serif;
	background-color:white;
	border-radius:5px 5px 0px 0px;
}

.tab_item_selected
{
	padding:4px 5px 2px 5px;
	height:20px;
	border-top:1px solid gray;	
	border-left:1px solid gray;
	border-right:1px solid gray;
	/*font-weight:bold;*/
	font-family:Verdana, Geneva, sans-serif;
	border-radius:5px 5px 0px 0px;
}

.tab_content
{
	border-top:1px solid #999;
	color:#666;
	padding:10px;
	font-family:Verdana, Geneva, sans-serif;
	background-color:white !important;
	border-radius:0px 0px 5px 5px;
}